<div>
<blockquote>
  <h2>致有梦想的人</h2>
</blockquote>
<p class="flow-text">
致：<br/>
那些永远非同凡想且一直追逐理想的人 <br/>
当其他人满眼为各种新鲜事物所占据 <br/>
你却能从各种新鲜现象中洞悉独特意义<br/>
即便你早已察觉创造改变的方法<br/>
你却依然相信团队的力量会更大，从未怀疑<br/>
于是，我们并肩探索，不断尝试，力求改变,一次又一次<br/>
永远相信，一定会有另一条道路<br/>
另一条更好的道路，更宽广更具逼格的道路<br/>
保持特立独行非同凡想，做自己喜欢做的事<br/>
尽可能把事情做的卓越，是我们唯一也是永恒不变的信念<br/>
让梦想照进现实<br/>
无数颠覆流行的创意得以付诸<br/>
同样的炙热，保持对生活的不懈追求<br/>
肩负使命，完美生活品牌发起人希翼借此漫生活平台<br/>
与秉承同一信念的人们 同在生活艺术的颠峰<br/>
梦想是一场自己的革命<br/>
有太多炙手可热的梦想，等待你的接力。。。
</p>
<a class="waves-effect waves-light btn"><i class="mdi-content-send right"></i>出发</a>
</div>
