<div id='CheckavailCtrl' ng-controller="CheckavailCtrl">
    <div wechatoauth="checkavail"></div>
    <br>
      <p class="flow-text">&nbsp;&nbsp;请输入日期查询空闲的营地：</p>
    <div style="padding-left: 5px;" class="row">
        <div class="col s6 left-align">
            <blockquote>
                <h5 class="green-text text-darken-2">入住日期</h5>
                <input id="check-in" type="text" value="点这里" class="green-text text-darken-2" ng-model="checkInDay" readonly="readonly">
            </blockquote>
        </div>
        <div class="col s6 left-align">
            <blockquote>
                <h5 class="red-text red-darken-2">退房日期</h5>
                <input id="check-out" type="text" class="datepicker red-text text-darken-2 left-align" ng-model="checkOutDay" readonly="readonly">
            </blockquote>
        </div>
    </div>
    <div ng-show="showResult" style="padding-top: 0; padding-left: 10px; padding-right: 10px;">
        <p>&nbsp;&nbsp;点击营地名进行预订,节假日房价有一定比例上浮, 以最终订单价为准</p>
        <table class="table striped">
            <thead>
                <tr class="grey darken-1 white-text">
                    <th>营地名</th>
                    <th>所属部落</th>
                    <th>平日均价</th>
                    <th>查询结果</th>
                </tr>
            </thead>
            <tbody ng-repeat="record in availableArray" ng-click="onRecordSelect(record)">
                <tr id="row" ng-class="{'teal lighten-2': record.houseInfo.houseId === currentRecord.houseInfo.houseId}" ng-click="gotoOrderPage(record)">
                    <td>{{record.houseInfo.houseName}}</td>
                    <td>{{record.houseInfo.tribeName}}</td>
                    <td>{{record.houseInfo.average_price}}/每晚</td>
                    <td>{{record.status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div validationmessage></div>
</div>
<script>
$(function() {
    $.datepicker.setDefaults($.datepicker.regional["zh-TW"]);
    $('#check-in').datepicker({
        minDate: new Date(),
        onSelect: function() {
            $(this).change();
        }
    });
    $('#check-in').on('change', function(e) {
        $("#check-out").datepicker("destroy");
        //hide result table
        $('#CheckavailCtrl').scope().hideResultTable();
        $("#check-out").datepicker({
            minDate: new Date($('#check-in')[0].value),
            onSelect: function() {
                $(this).change();
            }
        });
        $("#check-out").val('');
        $("#check-out").datepicker("refresh");
    });
    $('#check-out').on('change', function(e) {
        $('#CheckavailCtrl').scope().checkOutDay = $('#check-out')[0].value
        $('#CheckavailCtrl').scope().seachAvail();
    });
});
</script>