<div navbar class="footer" id="footer">
  <!--<p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>-->
  <nav>
    <div  class="nav-wrapper">
      <!--<a href="#!" class="brand-logo">Logo</a>-->
      <!--<ul class="right hide-on-med-and-down">-->
      <ul class="right" id="navbar_content">
        <li>
          <form>
            <div class="input-field">
              <input id="search" type="search" required>
              <label for="search"><i class="mdi-action-search"></i></label>
              <i class="mdi-navigation-close"></i>
            </div>
          </form>
        </li>
        <li><a href="#"><i class="mdi-action-view-module"></i></a></li>
        <li><a href="#"><i class="mdi-navigation-refresh"></i></a></li>
        <li><a href="#"><i class="mdi-navigation-more-vert"></i></a></li>
      </ul>
      <a id="place_order" href="#!" class="brand-logo">Place Order</a>
    </div>
  </nav>
</div>
