<div navbar>
  <nav id="navbar">
    <div class="nav-wrapper">
      <ul class="right">
        <li>
          <form>
            <div class="input-field">
              <input id="search" type="search" required>
              <label for="search"><i class="mdi-action-search"></i></label>
              <i class="mdi-navigation-close"></i>
            </div>
          </form>
        </li>
        <li><a href="#"><i class="mdi-action-view-module"></i></a></li>
        <li><a href="#"><i class="mdi-navigation-refresh"></i></a></li>
        <li><a href="#"><i class="mdi-navigation-more-vert"></i></a></li>
      </ul>
    </div>
  </nav>
</div>

<!--message-->
<div alertmessage>
  <div class="text-success"> </div>
</div>

<!--fix position-->
<script>
  //todo: fix the nav bar issue
/*  $(document).ready(function () {
    $('#navbar').pushpin(
      {
        buttom: $('#main-contain').offset().top
      }
    );
  });*/
</script>
