<!-- make sure we have user info from wechat server -->
<div wechatoauth="frontpage"></div>
<div class="fixed-action-btn" style="top: 45px; left: 85%;">
    <a class="btn-floating btn-large waves-effect waves-light red">
        <img class="fiticon" ng-src="http://aghpic.oss-cn-shenzhen.aliyuncs.com/wechatapp/icon/search.png" / ng-click="toSearchPage()">
    </a>
</div>
<div class="card" style="padding-top: 0; top:0;">
    <div ng-repeat="tribe in tribes" class="waves-effect waves-light card-image">
        <img ng-click="toHouseList(tribe)" ng-src="{{tribe.image}}" />
    </div>
</div>
<div wechatsign></div>
<div wechatshare></div>