<div>
    <blockquote>
        <h5>营地生活须知</h5>
    </blockquote>
    <p class="article">
1.营地提倡人与自然，人与人和谐相处的低碳乡村生活，因此请爱护大自然的一草一木，尊重原住民的生活习惯，请勿打扰他们的生活。<br>
2.营地提倡家的生活理念, 希望每一个家里的人都能够每天自己清理好房间卫生, 对于床单被罩，浴巾等换洗，营地提供客换，当然有特殊服务要求的，管家也会全力配合。离开营地时也请带走自己的垃圾。<br>
3.营地提倡环保生活理念, 希望每个远道而来的客人都能够自备牙刷，牙膏，浴液， 如果忘记带，前台也可有偿提供。<br>
4.乡村生活更贴近自然，因此可能会有许多的小生物，请不要害怕。<br>
5.由于乡村电力线路不是很稳定，因此偶有跳电，请不要害怕。<br>
6.会员入住前请与营地管家确定到达时间，入住人数和房间，以及特殊的需要，以便管家为您提供贴心温暖的服务。
7. 每个房间的风格都不同, 都配有不同的装饰物, 并且大部分的物品都来自土屋主人或朋友从五湖四海的地方淘来的, 请客人额外珍惜, 而且如果损坏了需要照价赔偿。<br>
8. 营地配有自助洗衣机房，如有需要请联系管家，时间为18：-21：00。<br>
9.请照顾好随行的小孩和老人，禁止在危险地带攀爬。雨天出行，小心地滑。夜晚出行，请使用营地提供的手电筒。<br>
10. Check In进房时间是抵达日(订房起算日)下午两点以后,Check Out退房时间为出发日(订房截止日)
中午十二点。访客如有需求,可适情况向营地管家提出延后退房或是提前入住等事宜。<br>
11.营地提供N种可能的生活生活，种菜、陶艺、乡村爵士，瑜伽、垂钓、烧烤…如有需要，请咨询营地管家。
    </p>
</div>