<div class="card" ng-repeat="house in houses">
  <!--card main image-->
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="{{house.image}}">
    <span class="card-title">
      <h4 class="header white-text left-align">{{house.name}}</h4>
      <p>
        <a class="waves-effect waves-light transparent white-text"><i class="mdi-action-favorite-outline left-align"></i></a>
      </p>
    </span>
  </div>
  <!--card content in front -->
  <div class="card-content" style="padding: 0;">
    <ul class="collection" style="margin: 0;border:0;">
      <li class="collection-item avatar" style="padding-bottom: 0;">
        <img src="images/yuna.jpg" alt="" class="circle">
        <span class="title">Qulity is not an act, it is an habit.</span>

        <p>Owner: Luke Xie . <i class="mdi-file-cloud-queue"/> <br/>
          <i class="tiny mdi-action-favorite"/> {{house.likes}}
        </p>
        <p class="right" style="border-top: 20px">
          <i class="mdi-action-grade"></i>
          <i class="mdi-action-grade"></i>
          <i class="mdi-action-grade"></i>
          <i class="mdi-action-grade"></i>
          <i class="mdi-action-grade"></i>
          <br/> <br/>
        </p>
      </li>
    </ul>
  </div>

  <!-- card detail in the back-->
  <div class="card-reveal">
    <!--title-->
       <span class="card-title grey-text text-darken-4 center">
        <i class="mdi-hardware-keyboard-backspace left"/> {{house.name}}
        <a class="btn-floating waves-effect waves-light red right" ng-click=""><i class="mdi-content-add"/></a>
       </span>

    <!--small content image-->
    <div class="card small">
      <div class="card-image">
        <img class="circle" src="{{house.image}}">
        <span class="card-title small">RMB {{house.price}}/night </span>
      </div>

      <!--own introduce-->
      <div class="card-panel" style="margin: 0;padding: 0">
        <ul class="collection">
          <li class="collection-item avatar">
            <img src="images/yuna.jpg" alt="" class="circle">
            <span class="tiny">Art cannot be modern. Art is primordially eternal.</span>

            <p>
              <i class="tiny mdi-action-alarm"/> 3
              <i class="tiny mdi-action-lock-outline"/> 5
              <i class="tiny mdi-communication-phone"/> 2
              <a href="#"><i class="small mdi-hardware-keyboard-control right"/></a>
            </p>
          </li>
        </ul>
      </div>

      <!--user comment-->
      <div class="card-panel" style="margin: 0;padding: 0">
        <ul class="collection">
          <li class="collection-item">
            <form style="margin-top: 20px;">
              <div class="row">
                <div class="input-field col s6">
                  <i class="mdi-editor-mode-edit prefix"></i>
                  <input id="icon_prefix" type="text">
                  <label for="icon_prefix">留言</label>
                </div>
              </div>
            </form>
          </li>

        </ul>
      </div>
    </div>

  </div>
</div>

<!--2nd card-->
<!--

<div class="card">
  &lt;!&ndash;card main image&ndash;&gt;
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="images/xrk.jpg">
    <span class="card-title">
      <h4 class="header white-text left">向日葵</h4>
      <p>
      <a class="waves-effect waves-light transparent white-text"><i class="mdi-action-favorite-outline left-align"></i></a>
      </p>
    </span>
  </div>
  &lt;!&ndash;card content in front &ndash;&gt;
  <div class="card-content" style="padding: 0;">
    <ul class="collection" style="margin: 0;border:0;">
      <li class="collection-item avatar" style="padding-bottom: 0;">
        <img src="images/avator.jpg" alt="" class="circle">
        <span class="title">勇敢去追求自己想要的幸福</span>

        <p>Owner: Jerry Jiang <i class="mdi-file-cloud-queue"/> <br/>
          <i class="tiny mdi-action-favorite"/> 12
        </p>
        <p class="right" style="border-top: 20px">
          <i class="mdi-action-grade"></i>
          <i class="mdi-action-grade"></i>
          <i class="mdi-action-grade"></i>
          <br/> <br/>
        </p>
      </li>
    </ul>
  </div>

  &lt;!&ndash; card detail in the back&ndash;&gt;
  <div class="card-reveal">
    &lt;!&ndash;title&ndash;&gt;
       <span class="card-title grey-text text-darken-4 center">
        <i class="mdi-hardware-keyboard-backspace left"/> 向日葵
         <a class="btn-floating waves-effect waves-light red right"><i class="mdi-content-add"/></a>
       </span>

    &lt;!&ndash;small content image&ndash;&gt;
    <div class="card small">
      <div class="card-image">
        <img class="circle" src="images/xrk.jpg">
        <span class="card-title small">RMB 860/night </span>
      </div>

      &lt;!&ndash;own introduce&ndash;&gt;
      <div class="card-panel" style="margin: 0;padding: 0">
        <ul class="collection">
          <li class="collection-item avatar">
            <img src="images/avator.jpg" alt="" class="circle">
            <span class="tiny">您也可以直接通过我们的邮箱进行反馈.</span>

            <p>
              <i class="tiny mdi-action-alarm"/> 3
              <i class="tiny mdi-action-lock-outline"/> 5
              <i class="tiny mdi-communication-phone"/> 2
              <a href="#"><i class="small mdi-hardware-keyboard-control right"/></a>
            </p>
          </li>
        </ul>
      </div>

      &lt;!&ndash;user comment&ndash;&gt;
      <div class="card-panel" style="margin: 0;padding: 0">
        <ul class="collection">
          <li class="collection-item">
            <form style="margin-top: 20px;">
              <div class="row">
                <div class="input-field col s6">
                  <i class="mdi-editor-mode-edit prefix"></i>
                  <input id="icon_prefix" type="text">
                  <label for="icon_prefix">留言</label>
                </div>
              </div>
            </form>
          </li>

        </ul>
      </div>
    </div>

  </div>
</div>


-->
