<div class="card">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="images/sample-1.jpg">
    <span class="card-title">喜乐屋<i class="mdi-action-favorite-outline"></i>
    </span>

  </div>
  <div class="card-content">
    <ul class="collection">
      <li class="collection-item avatar">
        <img src="images/yuna.jpg" alt="" class="circle">
        <span class="title">Owner: xielong</span>
        <p>the house is built by maintained by <br>
          Luke xie . <i class="mdi-file-cloud-queue"/>
        </p>
        <p class="secondary-content">
          <i class="mdi-action-grade"></i>
          <i class="mdi-action-grade"></i>
          <i class="mdi-action-grade"></i>
          <i class="mdi-action-grade"></i>
          <i class="mdi-action-grade"></i>
        </p>
      </li>
      </ul>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
    <p>Here is some more information about this product that is only revealed once clicked on.</p>
  </div>
</div>

<div class="card">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="images/office.jpg">
    <span class="card-title">Jerry's House <i class="mdi-action-favorite-outline"></i>
    </span>

  </div>

  <div class="card-content">
    <ul class="collection">
      <li class="collection-item avatar">
        <img src="images/yuna.jpg" alt="" class="circle">
        <span class="title">Owner: jerryjiang</span>
        <p>the house is built by maintained by <br>
          Jerry Jiang
        </p>
        <p class="secondary-content">
          <i class="mdi-action-grade"></i>
          <i class="mdi-action-grade"></i>
          <i class="mdi-action-grade"></i>
          <i class="mdi-action-grade"></i>
        </p>
      </li>
    </ul>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
    <p>Here is some more information about this product that is only revealed once clicked on.</p>
  </div>
</div>
