<!-- make sure we have user info from wechat server -->
<div wechatoauth="houses"></div>
<div class="houseshow">
    <div class="row">
        <ul class="polaroids">
            <li ng-repeat="house in houses" class="col s6">
                <a href="#" title="{{house.name}}">
                    <img class="col s12" style="padding: 0;" src="{{house.image}}" ng-click="detail(house)">
                </a>
            </li>
            <li>
                <p>&nbsp;</p>
            </li>
        </ul>
    </div>
</div>
<div wechatsign></div>
<div wechatshare></div>