<div>
    <div wechatoauth="myorder"></div>
    <div id="orderlist">
        <table class="bordered striped" id="indexedTable">
            <thead>
                <tr>
                    <th>订单号</th>
                    <th>营地名</th>
                    <th>入住时间</th>
                    <!-- <th>退房时间</th> -->
                    <th>订单状态</th>
                </tr>
            </thead>
            <tbody ng-repeat="order in orders" ng-click="showOrderDetail(order)">
                <tr id="orderRow" ng-class="{'teal lighten-2': order.orderId === orderId}">
                    <td>{{order.orderId}}</td>
                    <td>{{order.houseName}}</td>
                    <td>{{order.checkInDay}}</td>
                    <!-- <td>{{order.checkOutDay}}</td> -->
                    <td>{{order.status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="orderdetail" ng-show="showdetail" class="row">
        <blockquote>
            <h5>{{orderdetail.houseName}}订单{{orderdetail.orderId}}{{orderdetail.status}}          
            </h5>
            <div>
                <button ng-show="allowCancel(orderdetail)" class="waves-effect waves-light btn col s4" ng-click="cancelOrder(orderdetail)">取消订单✕</button> &nbsp; &nbsp;
                <button ng-show="allowPay(orderdetail)" class="waves-effect waves-light btn red darken-3 col s4 offset-s1" ng-click="gotoPay(orderdetail)"> 去支付 ▷ </button>
            </div>
            <div ng-show="orderdetail.status == '预订成功'"> 
                <p class="flow-text">漫生活管家联系方式0571-64668358 <button class="waves-effect waves-light btn col s4" ng-click="map(orderdetail)"> 驾车路线 </button> </p><br>
            </div>
            <br>
            <p class="green-text text-darken-2">入住：&nbsp;{{orderdetail.checkInDay}}</p>
            <p class="red-text text-darken-2">退房: &nbsp;&nbsp;{{orderdetail.checkOutDay}}</p>
            <p>下单时间:&nbsp;{{orderdetail.createDay}}</p>
            <p> 总计:&nbsp;{{orderdetail.totalPrice}}人民币 </p>
            <p> 入住客人:&nbsp; 12岁以上{{orderdetail.numOfGuest}}人, 12岁以下{{orderdetail.numOfGuestChild}}人</p>
        </blockquote>
        <p> &nbsp; </p>
    </div>
    <div class="fixbuttom row" id="bottom">
    </div>
</div>