<div>
    <div wechatoauth="myorder"></div>
    <div id="orderlist">
        <table class="bordered striped">
            <thead>
                <tr>
                    <th>订单号</th>
                    <th>营地名</th>
                    <th>入住时间</th>
                    <th>退房时间</th>
                    <th>订单状态</th>
                </tr>
            </thead>
            <tbody ng-repeat="order in orders" ng-click="showOrderDetail(order)">
                <tr>
                    <td>{{order.orderId}}</td>
                    <td>{{order.houseName}}</td>
                    <td>{{order.checkInDay}}</td>
                    <td>{{order.checkOutDay}}</td>
                    <td>{{order.status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="orderdetail" ng-show="showdetail">
        <blockquote>
            <h5>{{orderdetail.houseName}} &nbsp; {{orderdetail.status}}                
                &nbsp; <button ng-show="allowPay(orderdetail)" class="waves-effect waves-light btn red darken-3 z-depth-2" ng-click="gotoPay(orderdetail)"> 去支付 ▷ </button>
            </h5>
            <p> 订单号:&nbsp;{{orderdetail.orderId}} &nbsp;&nbsp;</p>
            <p class="green-text text-darken-2">入住：&nbsp;{{orderdetail.checkInDay}}</p>
            <p class="red-text text-darken-2">退房: &nbsp;&nbsp;{{orderdetail.checkOutDay}}</p>
            <p> 总计:&nbsp;{{orderdetail.totalPrice}} 人民币 </p>
            <p> 入住客人:&nbsp;{{orderdetail.numOfGuest}} 人</p>
        </blockquote>
        <p> &nbsp; </p>
    </div>
    <div id="buttom" class="fixbuttom row">
        <div class="col s6 offset-s1">
            <button class="waves-effect waves-light btn red darken-3 z-depth-2" ng-click="close()">
                关 闭 ☒
            </button>
        </div>
        <div class="col s4">
            <button class="waves-effect waves-light btn z-depth-2" ng-click="refresh()">
                刷 新 √
            </button>
        </div>
    </div>
</div>