<div class="form-group row" ng-controller="OrderCtrl">
    <div class="col s4">
        <img class="z-depth-1" style="width: 135px; height: auto;" src="{{house.image}}" />
    </div>
    <div class="col s7 offset-s1 center">
        <h4 class="header" style="color: #EE6E73;font-weight: 300;">{{house.name}}</h4>
        <p id="price_per_night">{{house.price}}, 包含服务费</p>
    </div>
    <div style="padding-left: 20px">
        <div class="row">
            <div class="col s5 left-align">
                <blockquote>
                    <h5>入住</h5>
                    <input id="check-in" type="text" value="点这里" class="red-text text-darken-2" ng-model="newOrder.checkInDay" readonly="readonly">
                </blockquote>
            </div>
            <div class="col s6 left-align">
                <blockquote>
                    <h5>退房</h5>
                    <input id="check-out" type="text" class="datepicker red-text text-darken-2" ng-model="newOrder.checkOutDay" readonly="readonly">
                </blockquote>
            </div>
            <div class="col s6">
                <blockquote>
                    <select class="browser-default" id="numOfGuest" ng-model="newOrder.numOfGuest">
                        <option value="" disabled selected>客人数</option>
                        <option ng-repeat="i in capacity()" value="{{i}}">{{i}}</option>
                    </select>
                </blockquote>
            </div>
        </div>
        <div>
            <blockquote>
                <h5>{{house.name}} 设施介绍</h5>
            </blockquote>
            <p class="flow-text">
               {{house.facility}}
            </p>
        </div>
        <div class="fixbuttom">
            <button class="waves-effect waves-light btn col s8 offset-s2" style="background-color: #EE6E73;" ng-click="orderReview(newOrder, house)">
                预定 ▷ 
        </button>
        </div>
    </div>

 <!-- show warnning message for validation check -->        
<div validationmessage></div>
 <!-- set available day in datepicker --> 
<div checkinout="{{house.id}}"> </div>
</div>




