<div class="form-group row" ng-show="currentShow == 'main'">
    <div class="col s4">
        <img class="z-depth-1 " style="width: 135px; height: auto;" src="{{house.image}}" />
    </div>
    <div class="col s7 offset-s1 left-align">
        <h4 class="header red-text textlighten-2">{{house.name}}</h4>
        <p>请完整填写预订信息及联系方式</p>
    </div>
    <div style="padding-left: 20px">
        <div class="row">
            <div class="col s6 left-align">
                <blockquote>
                    <p class="green-text text-darken-2">入住日期</p>
                    <input id="check-in" type="text" value="点这里" class="green-text text-darken-2" ng-model="newOrder.checkInDay" readonly="readonly">
                </blockquote>
            </div>
            <div class="col s6 left-align">
                <blockquote>
                    <p class="red-text red-darken-2">退房日期</p>
                    <input id="check-out" type="text" class="datepicker red-text text-darken-2 left-align" ng-model="newOrder.checkOutDay" readonly="readonly">
                </blockquote>
            </div>
            <div class="col s12">
                <div class="col s2 green-text text-darken-2">人数</div>
                <div class="col s2 left-align" ng-repeat="i in capacity()">
                    <input name="numOfGuest" type="radio" value="{{i}}" id="{{i}}" ng-model="newOrder.numOfGuest" />
                    <label for="{{i}}">{{i}}</label>
                </div>
            </div>
            <div class="col s12">
                <blockquote>
                    <h6 class="green-text text-darken-2">联系信息</h6>
                </blockquote>
                <div class="row">
                    <div class="input-field col s4">
                        <input id="realname" type="text" class="validate" ng-model="userInfo.realname">
                        <label class="active" for="cell">姓名</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="cell" type="text" class="validate" ng-model="userInfo.cell">
                        <label class="active" for="cell">手机号</label>
                    </div>
                    <div class="input-field col s4">
                        <select id="identity_type" class="browser-default" ng-model="userInfo.identity_type">
                            <option value="身份证">身份证</option>
                            <option value="护照">护照</option>
                            <option value="护照">驾驶证</option>
                            <option value="护照">学生证</option>
                            <option value="军官证">军官证</option>
                            <option value="军官证">台胞证</option>
                            <option value="军官证">其他(请注明)</option>
                        </select>
                        <label class="active" for="identity_type">证件类型</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="identity" type="text" class="validate" ng-model="userInfo.identity">
                        <label class="active" for="identity">证件号</label>
                    </div>
                    <div class="input-field col s5">
                        <input id="email" type="text" class="validate" ng-model="userInfo.email">
                        <label class="active" for="email">email</label>
                    </div>
                    <div class="input-field col s7">
                        <input id="plan" type="text" class="validate" ng-model="newOrder.plan">
                        <label class="active" for="plan">活动计划(如庆生，烧烤，etc.)</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixbuttom row">
            <!--             <button class="waves-effect waves-light btn col s4 offset-s1" ng-click="close()">
                关 闭 ✕
            </button> -->
            <button class="waves-effect waves-light btn col s12 red lighten-2 white-text" ng-click="orderCheck(newOrder, house, userInfo)">
                下一步 ▷
            </button>
        </div>
    </div>
    <!-- show warnning message for validation check -->
    <div validationmessage></div>
    <!-- set available days in datepicker -->
    <div checkinout="{{house.id}}"> </div>
</div>
<div ng-show="currentShow == 'warnning'">
    <div ng-include src="'views/instruction.html'"></div>
    <div style="padding-left: 10px">
        <div class="fixbuttom row">
            <!--         <button class="waves-effect waves-light btn col s4 offset-s1" ng-click="close()">
            关 闭 ✕
        </button> -->
            <button class="waves-effect waves-light btn col s12 red lighten-2 white-text" ng-click="orderReview()">
                开启体验 ▷
            </button>
        </div>
    </div>
</div>