<div>
<blockquote>
  <h5>生态农业部落</h5>
</blockquote>
<p class="flow-text">
<h5>梦想</h5>
&nbsp;&nbsp;家园的环保小卫士和生态小精灵，倡导人与自然和谐友好的相处，追求低碳、绿色、环保的生活方式。
<h5>任务</h5>
<ul class="collection">
<li class="collection-item"> 1.  遵循生态学和生态经济学的规律，以环境友好的方式发展生态农业。</li>
<li class="collection-item"> 2.  根据项目选址地的地理环境和自然条件，发展以农产品为核心的本土化生态农业模式。</li>
<li class="collection-item"> 3.  选取适合本地生态环境的物种，打造完整生态系统体系。</li>
<li class="collection-item"> 4.  进行特色有机农产品的可持续研发、生产、服务和技术输出。</li>
<li class="collection-item"> 5.  着力于生态修复，并向自然学习，实现生态、生产、生活的三位一体。</li>
</ul>
</p>
</div>
</div>
<a class="waves-effect waves-light btn"><i class="mdi-content-send right"></i>我有兴趣</a>
</div>
<!--  -->
<div>
<blockquote>
  <h5>营地创建部落</h5>
</blockquote>
<p class="flow-text">
<h5>梦想</h5>
&nbsp;&nbsp;家园的建造师，将不同的“生活理想”结合生态自然需求及当地人文精神，植入我们的“梦想家园”。
<h5>任务</h5>
<ul class="collection">
<li class="collection-item"> 1.  结合项目选址地的农业基础、人文景观、自然山水特色，以及不同的“生活理想”创建“完美生活”部落。</li>
<li class="collection-item"> 2. 负责每个部落的施工与建造。</li>
<li class="collection-item"> 3. 为营长提供个性化的“生活理想”解决方案。</li>
</ul>
</p>
</div>
</div>
<a class="waves-effect waves-light btn"><i class="mdi-content-send right"></i>我有兴趣</a>
</div>
<!--  -->
<div>
<blockquote>
  <h5>品牌联盟部落</h5>
</blockquote>
<p class="flow-text">
<h5>梦想</h5>
&nbsp;&nbsp;家园的精神训导司，让更多的人们接收“漫生活”的品牌理念和“完美生活”的品牌价值。
<h5>任务</h5>
<ul class="collection">
<li class="collection-item"> 1. 以部落为核心，向“生活艺术家”（酋长、营长、访客、会员、游客）宣导“漫生活”理念，传播“完美生活”品牌价值。</li>
<li class="collection-item"> 2. 通过价值认同，结成蜂窝状的“生活艺术家联盟”（AGH），并通过其联盟辐射品牌价值。</li>
<li class="collection-item"> 3. 品牌定位及相关的文案策划、视觉设计、互动方案和网络传播。</li>
</ul>
</p>
</div>
</div>
<a class="waves-effect waves-light btn"><i class="mdi-content-send right"></i>我有兴趣</a>
</div>

<!-- -->
<div>
<blockquote>
  <h5>生活体验部落</h5>
</blockquote>
<p class="flow-text">
<h5>梦想</h5>
&nbsp;&nbsp;家园的生活缔造者，与志同道合者分享漫生活的优雅生活方式，互动体验完美的生活感受。
<h5>任务</h5>
<ul class="collection">
<li class="collection-item"> 1. 为部落访户提供住宿、餐饮、娱乐、文化生活相关基础服务。</li>
<li class="collection-item"> 2. 为部落提供相关软硬件设备的维护。</li>
</ul>
</p>
</div>
</div>
<a class="waves-effect waves-light btn"><i class="mdi-content-send right"></i>我有兴趣</a>
</div>

<!--  -->
<div>
<blockquote>
  <h5>创新产品部落</h5>
</blockquote>
<p class="flow-text">
<h5>梦想</h5>
&nbsp;&nbsp;家园的产品魔法师，实现部落内部的生活自给自足，并将漫生活理念和AGH生活艺术家的诉求结合，创造出具有生命的创新产品。
<h5>任务</h5>
<ul class="collection">
<li class="collection-item"> 1. 市场调研，即从“生活艺术家”的生活实践中“探索”用户需求，并进行数据的整理与分析。</li>
<li class="collection-item"> 2. 以衣食住行等生活主体为承载，进行产品的创造、设计及改良。</li>
<li class="collection-item"> 3. 对产品进行系统化的生产及销售。</li>
</ul>
</p>
</div>
</div>
<a class="waves-effect waves-light btn"><i class="mdi-content-send right"></i>我有兴趣</a>
</div>








