<div id="PayCtrl" ng-controller="PayCtrl">
    <blockquote>
        <h5 class="red-text textlighten-2"> 这是测试系统，不作为合同或支付凭据</h5>
        <h5 class="red-text textlighten-2"> 你需要支付人民币 {{totalPrice}} 元，请选择支付方式</h5>
    </blockquote>
    <div class="row">
        <p class="col s3 offset-s1">
            <input name="paymentType" type="radio" id="wechat" checked/>
            <label for="wechat">微信</label>
        </p>
        <p class="col s3 left-align">
            <input class="with-gap" name="paymentType" type="radio" id="bank" />
            <label for="bank">支付宝</label>
        </p>
        <p class="col s3 left-align">
            <input name="paymentType" type="radio" id="unipay" disabled="disabled" />
            <label for="unipay">银联</label>
        </p>
    </div>
    <div class="row">
        <div class="col s2 offset-s1">
            <button class="waves-effect waves-light btn" ng-click="close()">
                过一会再说 ☒
            </button>
        </div>
        <div class="col s3 offset-s3">
            <button class="waves-effect waves-light btn red lighten-2 white-text z-depth-2" ng-click="pay()">
                进行支付 ▷
            </button>
        </div>
    </div>
    <blockquote>
        <h6> 支付协议：<br>一.发票：&nbsp;若需要发票请提前告知管家，只能开具服务费，另收服务费；<br>二.退款：&nbsp;1.退款必须通过电话和邮件确认；2.如果在到达日7天前取消，可收到全额退款；3.如果在到达日前7天内取消，您的款项将不退回，但您所付的款项将为您保留在以后的预订中使用，自原来预订的到达日算起一年之内有效，但只可用于支付除周末和节假日之外的预订。</h6>
    </blockquote>
    <br>
    <blockquote>
        <h6>温馨提示：您可以通过访问 <b>漫生活服务号</b> &nbsp;[客服]->[订单查询] &nbsp;进入到支付环节。 <br>如果30分钟内未完成支付，您的预订可能被取消。<br>您也可以通过银行转账的方式完成支付，账号为招商银行 888-8888-8888-88888。<br>漫生活客服电话: 010-12345678 </h6>
    </blockquote>
    <div pay="{{totalPrice}}" openid="{{openid}}"></div>
</div>