<div class="row">
  <div class="right-align "> 点击右上分享 &nbsp; <i class="mdi-communication-call-made Large"/></div>
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <img src="{{house.image}}">
        <span class="card-title">{{house.name}}</span>
      </div>
      <div class="card-content">
        <ul class="collection" style="margin: 0;border:0;">
          <li class="collection-item avatar" style="padding-bottom: 0;">
            <img src="{{house.avator}}" alt="" class="circle">

            <p>屋主: {{house.owner}} &nbsp;
              <i class="tiny mdi-action-favorite"/> {{house.likes}}
            </p>

            <p> &nbsp; </p>

            <p> &nbsp; </p>
          </li>
        </ul>
        <p>{{house.description}}</p>
      </div>
    </div>
  </div>
</div>

<div wechatshare>
</div>
