<div wechatoauth="volunteer"></div>
<div ng-show="currentShow == 'summary'">
    <blockquote>
        <h5>招募之总起</h5>
    </blockquote>
    <h5>给梦想一次播种的机会</h5>
    <p class="flow-text article">
        你，是否特立独行，却又唯唯诺诺
        <br> 你，是否见解独特，却又势单力薄
        <br> 你，是否心怀理想，却又无从下手
        <br> 梦想，她似乎很远，你是否有追求她的勇气和信心？
        <br> 如果你相信，专注力可以改变能力
        <br> 如果你相信，态度可以改变生活
        <br> 如果你相信，团队的力量可以实现最终的梦想
        <br> 那么，给梦想一次播种的机会！
        <br>
    </p>
    <!--  -->
    <a class="waves-effect waves-light btn blue-grey darken-2">漫生活梦想</a>
    <p class="flow-text article">
        低碳环保的乡村生活方式
        <br> 优雅品质的生活体验
        <br> 城市文明与自然村落的结合
        <br> 致力打造全新的中国乡村文明漫生活
        <br>
    </p>
    <!--  -->
    <blockquote>
        <h5>缘起</h5>
    </blockquote>
    <p class="flow-text article">
        &nbsp;&nbsp;儿时的情节，十年的酝酿，八年的成长，以及一生的寄托，芦茨土屋表达我们对生活与家最本质的追寻。
        <br> &nbsp;&nbsp;石舍香樟——开放身心，拥抱自然，寻回童真，发现真实自己的原生态露营基地。那弯清澈可见底的涓涓细流，那种草飞莺长衍生情趣……石舍学堂，快乐营创意成长基地；香樟部落，生活艺术家创作体验。石舍香樟，完美生活的体验，回归自我的见证。
        <br> &nbsp;&nbsp;梦想，指引你前进的动力与目标。专注，实现梦想的助力。或大或小的梦想，只要你能专注，就有实现的那一天。怀带着你的梦想，来这里和喜欢的人，做喜欢的事！
    </p>
    <!--   -->
    <blockquote>
        <h5>漫生活梦想计划</h5>
    </blockquote>
    <a class="waves-effect waves-light btn blue-grey darken-2">富春青庭</a>
    <p class="flow-text article">
        &nbsp;&nbsp;风烟俱净，天山共色。从流飘荡，任意东西。富春江畔，青庭矗立。文人墨客，驻守相望。百花齐放，万家争鸣。山水之居，人文之巅。 富春江芦茨湾沿岸，山水幽人，萦绕浓郁文化气息。古，文有吴均《与朱文思书》，画有黄公望《富春山居图》。今，则有青庭为营，集四方之名流，创精神之交融。
        <br> &nbsp;&nbsp;青庭，崇尚淳朴、低碳的生活方式，追求人与自然和谐共生的生活理念，朝阳见日撒江面，山幽鸟鸣与君度。在这里，回归自然所释放的心灵愉悦感不言而喻，随之与来的创作灵感也一触而就。时间之外，当下之存在。文人、IT、学者、艺术家、生活家…齐聚于此，饮茶高论话文坛，把酒言欢品生活。孩子们也将回归最本质的生活，倾听内心最真实的声音，跟随自己期望的导师，追寻自己的梦想
    </p>
    <a class="waves-effect waves-light btn blue-grey darken-2">天溪葵园</a>
    <p class="flow-text article">
        &nbsp;&nbsp;天溪葵园，位于瑶琳天目溪畔，新型江南水乡文化结合新时代特色，引入时尚、娱乐的元素，打造东方“羊角村”。
        <br> &nbsp;&nbsp;她，内敛文静之余又激情澎湃，独一无二的活水资源造就园中辗转缠绵的水道，岛岛相连却又隔水而断。自然的生活和时尚的理念，得以完美的结合。依水而生，萦回环绕，是她与生俱来的自然基础，犹如智慧之河，源远流长。多元化的人文资源，是她独具一格的后天补给，优雅中又带有一丝狂野，文静中有体现一丝激情。
    </p>
    <a class="waves-effect waves-light btn blue-grey darken-2">凤溪玫瑰</a>
    <p class="flow-text article">
        &nbsp;&nbsp;凤溪玫瑰，优雅女人的玫瑰生活。女人如花，这便是一片花的海洋。
        <br> &nbsp;&nbsp;爱的生活，在这爱的玫瑰园。清晨的阳光，带着玫瑰花香，呼唤着你一同感受这自然赋予的美丽；和亲人们享受爱的早餐，沐浴玫瑰的芬芳气息；身临其境的花海之中，与蜜蜂们一起采摘露水莹莹的玫瑰花，而玫瑰花茶与甜品即是午后最甜蜜的感受；自制玫瑰精油的SPA放松时刻，阅读喜爱的书籍；夕阳西下的美好，更有鲜花美酒的陪伴；夜空繁星点点下，与生活艺术家们的畅谈淋漓尽致，分享生活之体悟。
    </p>
    <a class="waves-effect waves-light btn fixbuttom" ng-click="switchToSurvey()">我要做自愿者 ▷ </a>
</div>
<div ng-show="currentShow == 'survey'">
    <div class="row">
        <!--         <div class="col s3 pinned">
            <ul class="section table-of-contents">
                <li><a href="#section000">前言</a></li>
                <li><a href="#section001">选择</a></li>
                <li><a href="#section002">表述</a></li>
                <li><a href="#section003">联系</a></li>
                <li>
                    <button class="btn waves-effect waves-light" type="submit" ng-click="finishSurvey()" name="action">提交
                    </button>
                </li>
            </ul>
        </div> -->
        <div class="col s12 left-align">
            <div id="section000" class="scrollspy section">
                <p class="caption flow-text left-align" style="padding-left: 20px">
                    &nbsp;&nbsp;&nbsp;&nbsp;这里，远离城市的喧嚣。这里，宁静和谐，亲近自然。呼吸新鲜的空气，享受劳作带来的乐趣。漫生活里的小伙伴，热情、纯粹、充满梦想。我们专注、努力，为了梦想而执着。
                </p>
            </div>
            <div id="section001" class="scrollspy section">
                <h4>关于选择</h4>
                <ul class="collection left-align">
                    <li class="collection-item">
                        1. 您是否热爱生活，热爱自然？
                        <br/>
                        <div class="row left-align">
                            <div class="col s4" style="padding: 0">
                                <input name="q1" type="radio" id="q1answer1" ng-model="survey.question1" value="是" />
                                <label for="q1answer1">是</label>
                            </div>
                            <div class="col s4" style="padding: 0">
                                <input name="q1" type="radio" id="q1answer2" ng-model="survey.question1" value="可能" />
                                <label for="q1answer2">可能</label>
                            </div>
                            <div class="col s4" style="padding: 0">
                                <input name="q1" type="radio" id="q1answer3" ng-model="survey.question1" value="否" />
                                <label for="q1answer3">否</label>
                            </div>
                        </div>
                    </li>
                    <li class="collection-item">
                        2. 您是否同意以下观点：只要专注于一件事，必定会有收获？
                        <br/>
                        <div class="row left-align">
                            <div class="col s4" style="padding: 0">
                                <input name="q2" type="radio" id="q2answer1" ng-model="survey.question2" value="是" />
                                <label for="q2answer1">是</label>
                            </div>
                            <div class="col s4" style="padding: 0">
                                <input name="q2" type="radio" id="q2answer2" ng-model="survey.question2" value="可能" />
                                <label for="q2answer2">可能</label>
                            </div>
                            <div class="col s4" style="padding: 0">
                                <input name="q2" type="radio" id="q2answer3" ng-model="survey.question2" value="否" />
                                <label for="q2answer3">否</label>
                            </div>
                        </div>
                    </li>
                    <li class="collection-item">
                        3. 您更倾向于过程的体验让人愉悦，或是结果满意让人愉悦？
                        <div class="switch row left-align">
                            <label>
                                过程
                                <input type="checkbox" ng-model="survey.question3" ng-false-value="'过程'" ng-true-value="'结果'">
                                <span class="lever"></span> 结果
                            </label>
                        </div>
                    </li>
                    <li class="collection-item">
                        4. 都市繁华的喧闹和乡村生活的纯粹，您更喜欢哪种生活？
                        <div class="switch row left-align">
                            <label>
                                城市
                                <input type="checkbox" ng-model="survey.question4" ng-false-value="'城市'" ng-true-value="'乡村'">
                                <span class="lever"></span> 乡村
                            </label>
                        </div>
                    </li>
                    <li class="collection-item">
                        5. 您是否可以专注某件事至少3-5年？
                        <br/>
                        <div class="row left-align">
                            <div class="col s4" style="padding: 0">
                                <input name="q5" type="radio" id="q5answer1" ng-model="survey.question5" value="能" />
                                <label for="q5answer1">能</label>
                            </div>
                            <div class="col s4" style="padding: 0">
                                <input name="q5" type="radio" id="q5answer2" ng-model="survey.question5" value="不能" />
                                <label for="q5answer2">不能</label>
                            </div>
                            <div class="col s4" style="padding: 0">
                                <input name="q5" type="radio" id="q5answer3" ng-model="survey.question5" value="不一定" />
                                <label for="q5answer3">不一定</label>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="section002" class="scrollspy section">
                <h4>关于自己</h4>
                <ul class="collection left-align">
                    <li class="collection-item">
                        6. 您觉得自己擅长什么？
                        <div class="input-field">
                            <input id="question6" type="text" class="validate" ng-model="survey.question6">
                            <label for="question6">写在这儿</label>
                        </div>
                    </li>
                    <li class="collection-item">
                        7. 请您描述您向往的生活场景
                        <div class="input-field">
                            <input id="question7" type="text" class="validate" ng-model="survey.question7">
                            <label for="question7">写在这儿</label>
                        </div>
                    </li>
                    <li class="collection-item">
                        8. 每个人心中都有或大或小的梦想，请您描述您的梦想
                        <div class="input-field">
                            <input id="question8" type="text" class="validate" ng-model="survey.question8">
                            <label for="question8">写在这儿</label>
                        </div>
                    </li>
                    <li class="collection-item">
                        9. 您希望参与到我们当中的形式是
                        <div class="switch row left-align">
                            <label>
                                空闲时间参与
                                <input type="checkbox" ng-model="survey.question9" ng-false-value="'空闲时间参与'" ng-true-value="'长期参与'">
                                <span class="lever"></span> 长期参与
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="section003" class="scrollspy section">
                <h4>联系方式</h4>
                <ul class="collection left-align">
                    <li class="collection-item">
                        10.如果你愿意加入我们，或者长期保持互动联系，请您留下姓名及联系方式
                        <div class="input-field">
                            <input id="question10" type="text" class="validate" ng-model="survey.question10">
                            <label for="question10">写在这儿</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div validationmessage></div>
    <div style="padding-left: 10px" class="row">
        <div class="fixbuttom">
            <button class="col s12 btn waves-effect waves-light" type="submit" ng-click="finishSurvey()" name="action">提交
            </button>
        </div>
    </div>
    <script>
    // $(document).ready(function() {
    //     $('.scrollspy').scrollSpy();
    // });
    //
    </script>
</div>
<div ng-show="currentShow == 'finish'">
    <blockquote>
        <h5>问卷已经提交，感谢您的时间, 现在您可以：</h5>
    </blockquote>
    <div class="row">
        <div class="col s4 offset-s1 left-align">
            <button class="waves-effect waves-light btn" ng-click="closeWindow()">
                关闭窗口 ☒
            </button>
        </div>
        <div class="col s4 offset-s1 left-align">
            <button class="waves-effect waves-light btn red darken-3 z-depth-2" ng-click="gotoFrontPage()">
                参观营地 ▷
            </button>
        </div>
    </div>
</div>
<div gototop> </div>
<div ng-include src="'views/footer.html'"></div>